<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1147">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo" loading="lazy" decoding="async" src="/assets/svgs/tct.svg" alt="logo" width="900" height="29">
            989-326-4894</a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Services</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
       
    </div>
    <!--Background-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/bg.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/bg.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/bg.jpg" alt="kids" width="1280" height="568">
    </picture>
</footer>
                                