/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-2rem);
      }
      100% {
          transform: translateY(0);
      }
  }
  @keyframes floatAnimation2 {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-3rem);
      }
      100% {
          transform: translateY(0);
      }
  }
  #hero-1351 {
      /* 250px - 500px - leaving extra space for the navigation */
      padding: clamp(15.625rem, 35.95vw, 25rem) 1rem 0;
      /* 200px - 250px */
      padding-bottom: clamp(12.5rem, 16.5vw, 15.625rem);
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      z-index: 1;

  }
  #hero-1351:before {
      /* Overlay */
      content: "";
      width: 100%;
      height: 30%;
      background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#000000),
          to(rgba(0, 0, 0, 0))
      );
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 2;
      /* prevents the cursor from interacting with it */
      pointer-events: none;
  }
  #hero-1351 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
  }
  #hero-1351 .cs-container-2 {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }
  #hero-1351 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 39.375rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start; 
  }
  #hero-1351 .cs-content-2 {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-end; 
  }
  #hero-1351 .cs-topper {
      font-size: 1.25rem;
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: #e8e8e8;
      margin-bottom: 0.5rem;
      display: block;
  }
  #hero-1351 .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 20ch;
      margin: 0 0 1rem 0;
      color: #fff;
      position: relative;
  }
  #hero-1351 .cs-title-2 {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 20ch;
    margin: 0 0 1rem 0;
    color: #fff;
    position: relative;
  }
  #hero-1351 .cs-text {
      font-size: 1.25rem;
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      /* 464px - 622px */
      max-width: clamp(29rem, 60vw, 38.785rem);
      margin: 0 0 2.5rem 0;
      color: #e8e8e8;
  }
  #hero-1351 .cs-button-solid {
      font-size: 1rem;
      line-height: 3.5rem;
      text-decoration: none;
      font-weight: 700;
      overflow: hidden;
      margin: 0;
      color: #fff;
      padding: 0 3rem;
      border-radius: 1.875rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;
  }
  #hero-1351 .cs-button-solid:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 0%;
      background: #fff;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
  }
  #hero-1351 .cs-button-solid-2 {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    border-radius: 1.875rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #hero-1351 .cs-button-solid-2:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1351 .cs-button-solid:hover {
      color: var(--primary);
  }
  #hero-1351 .cs-button-solid:hover:before {
      width: 100%;
  }
  #hero-1351 .cs-button-solid-2:hover {
    color: var(--primary);
  }
  #hero-1351 .cs-button-solid-2:hover:before {
    width: 100%;
  }
  #hero-1351 .cs-bubbles {
      /* this scales the children inside of it down. They're all in ems so they pull from the parent font size for their value of em, in this case, the value of em is tied to the viewwidth size and stops growing when the font size is equal to 1em, which it pulls from the nearst parent with a declred font size (which is the html tag, and that tag is 16px by default) */
      font-size: min(2vw, 0.5em);
      position: absolute;
      z-index: -1;
  }
  #hero-1351 .cs-bubbles1 {
      width: 42.5em;
      height: 45.25em;
      right: -11.875rem;
      /* changes to 172 at large desktop */
      top: 0;
  }
  #hero-1351 .cs-bubbles1:before {
      /* white border bubble */
      content: "";
      width: 38.875em;
      height: 38.875em;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      animation-name: floatAnimation;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #hero-1351 .cs-bubbles1:after {
      /* orange bubble */
      content: "";
      width: 34.125em;
      height: 34.125em;
      background: var(--primary);
      opacity: 0.8;
      border-radius: 50%;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      animation-name: floatAnimation2;
      animation-duration: 10s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #hero-1351 .cs-bubbles2 {
      width: 20.625rem;
      height: 29.75rem;
      /* changes to 160px at larger desktop */
      left: -13.75rem;
      /* removed at larger desktop */
      bottom: -16.25rem;
  }
  #hero-1351 .cs-bubbles2:before {
      /* white border bubble */
      content: "";
      width: 20.625rem;
      height: 20.625rem;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      animation-name: floatAnimation;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #hero-1351 .cs-bubbles2:after {
      /* orange bubble */
      content: "";
      width: 16.25rem;
      height: 16.25rem;
      background: var(--primary);
      opacity: 0.8;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      right: 2.5rem;
      z-index: -1;
      animation-name: floatAnimation2;
      animation-duration: 14s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #hero-1351 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      opacity: .2;
      background-color: #000000;
      
  }
  #hero-1351 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      /* makes the top of the image start at the top of the parent */
      object-position: top;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1351 .cs-content {
      width: 50%;
  }
  #hero-1351 .cs-bubbles {
      font-size: 1em;
  }
  #hero-1351 .cs-bubbles1 {
      /* changes to auto at large desktop */
      right: -26.75rem;
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-1351 .cs-bubbles1 {
      /* 200px - 450px */
      margin-left: clamp(12.5rem, 20vw, 28.125rem);
      top: 10.75rem;
      right: auto;
      left: 50%;
  }
}

/* Large Desktop Parallax Effect - 1600px */
@media only screen and (min-width: 100rem) {
  #hero-1351 .cs-background {
      background: url("/assets/images/bg.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      opacity: .2;
      background-color: #000000;
  }
  #hero-1351 .cs-background img {
      display: none;
  }
  #hero-1351 .cs-container-2 {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: flex-end;
}
}

/* Larger Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
  #hero-1351 .cs-bubbles2 {
      margin-right: 50rem;
      right: 50%;
      left: auto;
      top: 13.125rem;
      bottom: auto;
  }

  #hero-1351 .cs-container-2 {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: flex-end;
}
}

/*-- -------------------------- -->
<---    Content Page Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1351 .cs-content-reverse {
    padding-top: 2.25rem;
  }
  #hero-1351 .cs-content-reverse .cs-container {
    display: flex;
    flex-direction: right;
    align-items: flex-end;
  }
  #hero-1351 .cs-content-reverse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #hero-1351 .cs-content-reverse .cs-image-group {
    font-size: min(1.8vw, 0.9rem);
    width: 47.8125em;
    height: 24.5em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #hero-1351 .cs-content-reverse .cs-picture {
    width: 47em;
    height: 21.25em;
    height: 100%;
    box-sizing: border-box;
    background-color: #dab692;
    overflow: hidden;
    border: 0.5em solid #dab692;
    border-radius: 16.25rem;
    position: absolute;
    z-index: -1;
  }
  #hero-1351 .cs-content-reverse .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #hero-1351 .cs-content-reverse .cs-graphic {
    height: auto;
    position: absolute;
  }
  #hero-1351 .cs-content-reverse .cs-dots {
    width: 8.5625em;
    height: auto;
    top: -2em;
    left: 2em;
  }
  #hero-1351 .cs-content-reverse .cs-brown {
    width: 12.6875em;
    height: auto;
    top: 0;
    right: 0;
    z-index: -3;
  }
  #hero-1351 .cs-content-reverse .cs-peach-right {
    width: 4.1875em;
    height: auto;
    top: -1.1875em;
    right: 8.3125em;
  }
  #hero-1351 .cs-content-reverse .cs-leaf-right {
    width: 17.6875em;
    height: auto;
    bottom: -0.875em;
    left: 2em;
  }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-1351 .cs-content-reverse .cs-container {
    flex-direction: row;
    align-items: flex-start;
  }
  #hero-1351 .cs-content-reverse .cs-image-group {
    width: 38em;
    height: 30.125em;
    margin-top: 3rem;
    order: -1;
  }
  #hero-1351 .cs-content-reverse .cs-picture {
    width: 38em;
  }
  #hero-1351 .cs-content-reverse .cs-dots {
    top: -1em;
  }
  #hero-1351 .cs-content-reverse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 7;
}
}
                                                              